.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.full-viewport{
    min-width: min-content;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.removeTextDecor, .removeTextDecor :hover{
    text-decoration: none;
    color: initial;
}
.footer {
    width:100%;
    position: relative;
    background-color: #26A69A;
    margin: 0px;
    margin-top: auto;
    padding: 20px 0px 20px 0px;
}

.loginbtn{
    color: floralwhite;
    border-color: #26A69A;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #00897B;
    color: white;
    border-radius:0px ;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-dark {
    background-color: #00695C;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}