.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.full-viewport {
    min-width: min-content;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    width: 100%;
    position: relative;
    background-color: #26A69A;
    margin: 0px;
    margin-top: auto;
    padding: 20px 0px 20px 0px;
}

a:hover {
    text-decoration: none;
}

.removeTextDecor, .removeTextDecor:hover {
    padding: 5px;
    color: inherit;
}

.loginbtn {
    color: floralwhite;
    border-color: #26A69A;
}

.jumbotron {
    position: relative;
    top: -16px;
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #00897B;
    color: white;
    border-radius: 0px;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-dark {
    background-color: #00695C;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 200ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 200ms ease-out;
}

.location-iframe {
    height: 100%;
    width: 100%;
}

.buttontoa {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.card:hover {
    box-shadow: 5px 5px 5px 2px rgba(120, 120, 126, 0.4);
    transition: all 200ms linear;
}

.media {
    padding: 1em;
    border: 1px solid rgba(100, 100, 120, 0.35);
}

.dd-img {
    height: 410px;
    min-width: 310px;
    max-width: 100%;
}

.dd-img,
.card,
.media,
.media-object {
    border-radius: 0.5em;
}

.error-floater {
    color: floralwhite;
    z-index: 2;
    height: min-content;
    width: max-content;
    padding: 0.65rem;
    position: fixed;
    top: 60px;
    right: 20px;
    border-radius: 0.175em;
}

.floater-error {
    background-color: rgb(230, 79, 79);
    border: 2px solid rgb(158, 46, 46);
    animation: fade-in 200ms ease-in;
}

.floater-error-exit {
    background-color: rgb(230, 79, 79);
    border: 2px solid rgb(158, 46, 46);
    animation: fade-out 200ms ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0.1;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-out {
    to {
        opacity: 0.1;
        transform: translateY(-100%);
    }
    from {
        opacity: 1;
        transform: translateY(0%);
    }
}

.card-skeleton {
    overflow: hidden;
}

.loading {
    position: relative;
    background-color: #e2e2e2;
}

.loading::after {
    display: block;
    position: absolute;
    content: '';
    background: linear-gradient(90deg, transparent,
    rgba(255, 255, 255, 0.5), transparent);
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    animation: loading 800ms infinite;
}

.removeButtonStyling {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

@keyframes loading {
    to {
        transform: translateX(100%);
    }
}

.card-title {
    font-weight: bold;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-subtitle {
    font-weight: bold;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-skeleton-image {
    width: 100%;
    height: 300px;
    border-radius: 0.175em;
}

.card-skeleton-body {
    width: 100%;
    height: 240px;
    border-radius: 0.175em;
}

.card-skeleton-title {
    margin: 1.2rem;
    height: 1.5rem;
    width: 10rem;
    border-radius: 0.175em;
}

.card-skeleton-text {
    margin: 0.8rem 1.2rem;
    height: 1rem;
    width: 90%;
    border-radius: 0.175em;
}

.card-skeleton-text-end {
    margin: 0.8rem 1.2rem;
    height: 1rem;
    width: 40%;
    border-radius: 0.175em;
}

.comment {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.comment-name {
    font-weight: bold;
    font-size: 1rem;
}

.comments-container {
    background-color: #7dcf81;
    border-radius: 0.3em;
    height: min-content;
}